*
!.gitignore
!.readthedocs.yaml

!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README.md
!SECURITY.md

!requirements.txt
!requirements-dev.txt
!setup.py
!setup.cfg

!.github/
!.github/**
!bobocep/
!bobocep/**
!docs/
!docs/**
!media/
!media/**
!tests/
!tests/**

!paper/
!paper/paper.bib
!paper/paper.md

__pycache__
*.pyc
docs/_build
docs/source
