*
!.gitignore

!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!OPEN_SOURCE_DEFINITION.md
!README.md
!SECURITY.md

!requirements.txt
!setup.cfg
!setup.py

!.github/
!.github/**
!bobocep/
!bobocep/**
!media/
!media/**
!tests/
!tests/**

__pycache__
*.pyc
