*
!.gitignore

!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README.md
!SECURITY.md

!Pipfile
!setup.py
!setup.cfg

!.github/
!.github/**
!bobocep/
!bobocep/**
!docs/
!docs/**
!media/
!media/**
!tests/
!tests/**

__pycache__
*.pyc
docs/_build/
docs/source
