[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "==1.0.1"
coverage = "==7.0.5"
flake8 = "==6.0.0"
mypy = "==0.991"
pytest = "==7.2.0"
sphinx = ">=6,<7"
sphinx-mdinclude = "*"
sphinx-rtd-theme = "*"

[packages]
pycryptodome = "==3.16.0"
